{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "^next",
    "^next/",
    "<THIRD_PARTY_MODULES>",
    "^@/src/hooks",
    "^@/src/lib",
    "^@/src/features",
    "^@/src/components",
    "^@/src/app",
    "^@/src/types"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
